In [5]:
import pandas as pd

# Load the cleaned UFO sightings CSV
ufo_df = pd.read_csv(r'C:\Users\opiej\ufo-analysis-capstone\ufo-analysis-capstone\data\ufo_sightings_clean.csv.csv')

# Show first few rows
ufo_df.head()

ParserError: Error tokenizing data. C error: Expected 11 fields in line 878, saw 12

In [6]:
ufo_df = pd.read_csv(
    r'C:\Users\opiej\ufo-analysis-capstone\ufo-analysis-capstone\data\ufo_sightings_clean.csv.csv',
    on_bad_lines='skip' 
)

C:\Users\opiej\AppData\Local\Temp\ipykernel_12316\713049143.py:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo_df = pd.read_csv(

In [7]:
ufo_df = pd.read_csv(
    r'C:\Users\opiej\ufo-analysis-capstone\ufo-analysis-capstone\data\ufo_sightings_clean.csv.csv',
    on_bad_lines='skip',
    low_memory=False
)

In [8]:
import pandas as pd

ufo_df = pd.read_csv(
    r'C:\Users\opiej\ufo-analysis-capstone\ufo-analysis-capstone\data\ufo_sightings_clean.csv.csv',
    on_bad_lines='skip',
    low_memory=False
)

ufo_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [9]:
ufo_df.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude'],
      dtype='object')

In [10]:
ufo_df = ufo_df.dropna(subset=[
    'datetime', 'city', 'state', 'shape', 'latitude', 'longitude'
])

In [11]:
ufo_df['datetime'] = pd.to_datetime(ufo_df['datetime'], errors='coerce')

# Drop rows where datetime could not be parsed
ufo_df = ufo_df.dropna(subset=['datetime'])

In [12]:
ufo_df['year'] = ufo_df['datetime'].dt.year
ufo_df['month'] = ufo_df['datetime'].dt.month
ufo_df['hour'] = ufo_df['datetime'].dt.hour

In [13]:
ufo_df.rename(columns={
    'duration (seconds)': 'duration_sec',
    'duration (hours/min)': 'duration_text',
    'date posted': 'posted_date'
}, inplace=True)

In [14]:
ufo_df.to_csv(
    r'C:\Users\opiej\ufo-analysis-capstone\ufo-analysis-capstone\data\cleaned_ufo_data.csv',
    index=False
)